.add_post_main {
  position: absolute;
  top: 0px;
  height: 100vh;
  z-index: 1000;
  width: 100vw;
  display: flex;
  background: rgb(188, 209, 225, 0.4);
  justify-content: center;
}
.add_post_box {
  width: 90vw;
  height: 520px;
  margin: 130px 5vw 0px 5vw;
  background: #ffffff;
  box-shadow: 0px 10px 15px rgb(96 97 112 / 10%);
  border-radius: 8px;
  padding: 0px 5vw;
  position: sticky;
  top: 130px;
}
.add_post_image_box {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 20px 0px;
  font-family: "poppinslight";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #171717;
}
.edit_text_main {
  font-family: "poppinslight";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #171717;
}
.addpost_textarea_title {
  background: #f5f5f5;
  border-radius: 4px 4px 0px 0px;
  border: 0px;
  width: 72vw;
  height: 26px;
  padding: 10px 14px 8px 14px;
  font-family: "poppinslight";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #171717;
  margin: 0px 0px 20px 0px;
}
.addpost_textarea_desc {
  background: #f5f5f5;
  border-radius: 4px 4px 0px 0px;
  border: 0px;
  width: 72vw;
  height: 130px;
  padding: 10px 14px 8px 14px;
  font-family: "poppinslight";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #171717;
  margin: 0px 0px 40px 0px;
}
.add_new_post_button {
  text-align: center;
}
.add_new_post_button > button {
  border: 0px solid rgba(23, 23, 23, 0.2);
  background: #3a9fe9;
  box-shadow: 0px 4px 6px -2px rgb(16 24 40 / 20%);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px 0px;
  width: 72vw;
  font-family: "poppinslight";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: white;
}
