.feedhome_text_head {
  font-family: "poppinslight";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #324e7e;
  padding: 16px 6vw 0px 6vw;
}
.feedhome_text_main {
  font-family: "poppinslight";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #324e7e;
  padding: 10px 6vw 12px 6vw;
}
.slider_container_main {
  overflow-x: auto;
}
.slider_container_main::-webkit-scrollbar {
  display: none;
}
.slider_container {
  display: flex;
  justify-content: space-between;
  padding: 0px 6vw 3px 6vw;
  text-align: center;
  width: 128vw;
}
.feeling_container {
  padding: 8px 16px 8px 16px;
  border: 2px solid #3a9fe9;
  box-sizing: border-box;
  box-shadow: 0px 10.6474px 14.1965px -3.54913px rgb(16 24 40 / 10%),
    0px 3.54913px 5.32369px -1.77456px rgb(16 24 40 / 5%);
  border-radius: 8px;
  margin: 0px 14px 0px 0px;
}
.feeling_container > p {
  font-weight: 400;
}
.feeling_container:nth-child(1) {
  padding: 8px 20px 8px 20px;
}
.feeling_container:nth-child(2) {
  padding: 8px 10px 8px 10px;
}
.feeling_container:nth-child(4) {
  padding: 8px 6px 8px 6px;
}
.feeling_container:nth-child(5) {
  padding: 8px 18px 8px 18px;
}
.feeling_container_active {
  background: #3a9fe9;
  border: 2px solid #3a9fe9;
  box-shadow: 0px 12px 16px -4px rgb(16 24 40 / 10%),
    0px 4px 6px -2px rgb(16 24 40 / 5%);
  border-radius: 8px;
  margin: 0px 14px 0px 0px;
}
.feeling_container_active > p {
  color: white;
  font-weight: 400;
}
.feeling_container_active:nth-child(1) {
  padding: 8px 20px 8px 20px;
}
.feeling_container_active:nth-child(2) {
  padding: 8px 10px 8px 10px;
}
.feeling_container_active:nth-child(3) {
  padding: 8px 16px 8px 16px;
}
.feeling_container_active:nth-child(4) {
  padding: 8px 6px 8px 6px;
}
.feeling_container_active:nth-child(5) {
  padding: 8px 18px 8px 18px;
}
.slider_text_main {
  font-family: poppinslight;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #1e1d1d;
}
.text_input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.011em;
  color: #000000;
  opacity: 0.4;
}
.feedhome_share_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0px;
}
.feedhome_share_text {
  background: #edf7ff;
  font-family: "poppinslight";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #324e7e;
  width: 100vw;
  padding: 12px 0px;
  display: flex;
  justify-content: center;
}
.green {
  color: #65e0a2;
}
.feedhome_share_main > button {
  background: #3a9fe9;
  box-shadow: 0px 4px 6px -2px rgb(16 24 40 / 20%);
  border-radius: 4px;
  font-family: "poppinslight";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  border: 0px;
  padding: 10px 78px;
  margin: 16px 0px 0px 0px;
}
.relaxing_mantra_main {
  background: #edf7ff;
  border-radius: 14px;
  height: 280px;
}
.relaxing_mantra_text {
  display: flex;
  padding: 12px 6vw 0px 6vw;
  margin: 12px 0px;
}
.relaxing_mantra_text_black {
  font-family: "poppinslight";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #1e1d1d;
}
.relaxing_mantra_text_green {
  font-family: "poppinslight";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #65e0a2;
}
.relaxing_mantra_img {
  padding: 0px 6vw;
  width: 88vw;
}
.help_pannel_main {
  margin: 16px 6vw 0px 6vw;
}
.help_pannel_top {
  display: flex;
  justify-content: space-between;
}
.help_pannel_text1 {
  font-family: "poppinslight";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.011em;
  color: #1e1d1d;
}
.help_pannel_text2 {
  font-family: "poppinslight";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.011em;
  text-decoration-line: underline;
  color: #1e1d1d;
}
