* {
  margin: 0px;
  padding: 0px;
  text-align: -webkit-center;
}
.home_container_main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}
.title_name {
  font-family: "arial_rounded_mt_boldregular";
  font-size: 36px;
  line-height: 42px;
  margin-top: 60px;
  letter-spacing: -0.333333px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.sign_in {
  display: flex;
  width: 228px;
  height: 52px;
  border: 5px solid #a6f4c5;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 140px;
  font-family: "poppinslight";
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
  outline: 0;
}
.create_acc {
  display: flex;
  width: 228px;
  height: 52px;
  border: 5px solid #a6f4c5;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 26px;
  font-family: "poppinslight";
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
  outline: 0;
}
.page_end {
  margin-top: 160px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
}
