.reverse {
  display: flex;
  flex-direction: column-reverse;
  margin: 16px 0px;
}
.post_container_main {
  border: 1px solid rgba(23, 23, 23, 0.2);
  box-sizing: border-box;
  border-radius: 12px;
  margin: 2px 5vw 14px 5vw;
  padding: 10px;
  background: #ffffff;
  box-shadow: 8px 8px 10px #eaeaea, -8px -8px 10px #ffffff;
}
.post_container_main > img {
  position: absolute;
  width: 44px;
  height: 44px;
}
.data_box {
  padding: 8px 16px 0px 60px;
}
.heading_box {
  display: flex;
  justify-content: space-between;
}
.title_text {
  font-family: "poppinslight";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #171717;
}
.edit_text {
  font-family: "poppinslight";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: right;
  text-decoration-line: underline;
  color: #171717;
  opacity: 0.4;
}
.description_text {
  font-family: "poppinslight";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #171717;
  opacity: 0.7;
  margin-top: 8px;
}
.cont_text {
  text-decoration-line: underline;
  font-family: "poppinslight";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #171717;
  margin-top: 8px;
  margin-bottom: 8px;
}
.add_post_button {
  text-align: center;
}
.add_post_button > button {
  background: #ffffff;
  border: 1px solid rgba(23, 23, 23, 0.2);
  box-sizing: border-box;
  border-radius: 12px;
  margin: 10px 5vw 14px 5vw;
  padding: 16px;
  width: 90vw;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #171717;
}
