.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  animation-name: show;
  animation-duration: 600ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.back_img {
  position: absolute;
  top: 26px;
  left: 6vw;
  width: 40px;
  height: 40px;
  text-align: center;
}
.back_img > img {
  width: 20px;
}
.input_box {
  position: relative;
  max-width: 400px;
  padding-left: 10vw;
  padding-right: 10vw;
}
.text_main {
  margin-top: 80px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #6f6f6f;
  float: left;
}
.input_field {
  margin-top: 14px;
  float: left;
  width: 80vw;
  max-width: 370px;
}
.inputs {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #3A9FE9;
  text-align: left;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: rgba(111, 111, 111, 1);
  padding: 0px 0px 6px 8px;
  width: 78vw;
  max-width: 360px;
  margin-top: 24px;
}
.for_pas {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #3A9FE9;
  text-align: left;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: rgba(111, 111, 111, 0.6);
  text-decoration-line: underline;
  padding: 0px 0px 6px 0px;
  width: 86vw;
  max-width: 360px;
  margin-top: 28px;
}
.inputs::placeholder {
  color: rgba(111, 111, 111, 0.5);
}
.btn_text {
  background: #3A9FE9;
  border-radius: 10px;
  width: 228px;
  height: 52px;
  outline: 0;
  justify-content: center;
  border: 0px;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e1d1d;
  float: right;
  margin-top: 50px;
  cursor: pointer;
}
